.button-1 {
  color: hsl(0, 0%, 15%);
  font-weight: 300;
  letter-spacing: -2px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.button-1:hover {
  font-weight: 900;
  letter-spacing: 10px;
}

.button-2 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  position: relative;
}
.button-2:before {
  background-color: hsl(0, 0%, 15%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  transform-origin: bottom left;
  transition: all 0.25s ease-in-out;
  width: 100%;
  z-index: -1;
}
.button-2:hover {
  color: #ffffff;
}
.button-2:hover:before {
  transform: translateX(0);
}

.button-3 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  position: relative;
}
.button-3:before {
  background-color: hsl(0, 0%, 15%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition: transform 0.25s;
  width: 100%;
  z-index: -1;
}
.button-3:hover {
  color: #ffffff;
}
.button-3:hover:before {
  transform: rotate(0deg);
}

.button-4 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  position: relative;
}
.button-4:before {
  background-color: hsl(0, 0%, 15%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateX(90deg);
  transition: transform 0.25s;
  width: 100%;
  z-index: -1;
}
.button-4:after {
  background-color: hsl(0, 0%, 15%);
  left: 0;
  top: 0;
  transform: rotateY(90deg);
  transition: transform 0.25s;
  z-index: -1;
}
.button-4:hover {
  color: #ffffff;
}
.button-4:hover:before {
  transform: rotateX(0);
}
.button-4:hover:after {
  transform: rotateY(0);
}

.button-5 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  position: relative;
}
.button-5:before {
  align-items: center;
  background-color: hsl(0, 0%, 15%);
  content: 'Button';
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-180%);
  transition: transform 0.25s;
  width: 100%;
  z-index: 1;
}
.button-5:hover {
  color: #ffffff;
}
.button-5:hover:before {
  transform: rotate(0deg);
}

.button-6 {
  color: #ffffff;
  overflow: hidden;
  position: relative;
  background-color: hsl(0, 0%, 15%);
}
.button-6:before {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  content: '';
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: transform 0.75s;
  width: 150%;
  height: 20px;
  z-index: 1;
}
.button-6:hover {
  background-color: hsl(0, 0%, 15%);
}
.button-6:hover:before {
  transform: translateX(100%) rotate(45deg);
}

.button-7 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  position: relative;
  background-color: hsl(0, 0%, 15%);
}
.button-7:before {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 15%);
  content: 'Button';
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.button-7:after {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 15%);
  content: 'Button';
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 100%);
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.button-7:hover:before {
  transform: translate(100%, -100%);
}
.button-7:hover:after {
  transform: translate(0, 0);
}

.button-8 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  position: relative;
}
.button-8:before {
  content: 'Button';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.25s;
}
.button-8:hover:before {
  transform: scale(1);
  opacity: 1;
}

.button-9 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  transition: all 0.5s;
}
.button-9:hover {
  color: hsl(0, 0%, 100%);
}
.button-9:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: hsl(0, 0%, 15%);
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: all 0.5s;
}
.button-9:hover:before {
  height: 190%;
}

.button-10 {
  color: hsl(0, 0%, 15%);
  transition: all 0.5s;
}
.button-10:before {
  align-items: center;
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  content: 'button';
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  width: 100%;
}
.button-10:hover:before,
.button-10:hover:after {
  transform: rotateX(0deg);
}
.button-10:after {
  align-items: center;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);
  content: 'Button';
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateX(270deg);
  transform-origin: bottom;
  transition: all 0.5s;
  transition-delay: 0.25s;
  width: 100%;
}

.button-11 {
  color: hsl(0, 0%, 15%);
  transition: all 0.5s;
}
.button-11:before {
  content: 'Button';
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.button-11:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}
.button-11:after {
  content: 'Button';
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotateY(0);
  transition: all 0.5s;
}
.button-11:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

.button-12 {
  border: none;
  color: hsl(0, 0%, 15%);
  transition: all 0.5s;
}
.button-12:before,
.button-12:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: hsl(0, 0%, 15%);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
  z-index: -1;
  opacity: 0;
}
.button-12:before {
  left: 0;
  box-shadow: -100px 0 0 hsl(0, 0%, 15%);
}
.button-12:after {
  right: 0;
  box-shadow: 100px 0 0 hsl(0, 0%, 15%);
}
.button-12:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 hsl(0, 0%, 15%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
.button-12:hover:after {
  right: 50%;
  box-shadow: 30px 0 0 hsl(0, 0%, 15%);
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}
.button-12 > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}
.button-12:hover > span {
  transform: scale(1);
}
.button-12:hover {
  color: hsl(0, 0%, 100%);
  transition-delay: 0.2s;
}

.button-13 {
  border: none;
  color: hsl(0, 0%, 100%);
  transition: all 0.5s;
  background-color: transparent;
}
.button-13:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}
.button-13:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 30%);
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: bottom;
}
.button-13:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
.button-13:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}
.button-13:hover {
  color: hsl(0, 0%, 15%);
}

.button-14 {
  color: hsl(0, 0%, 15%);
  transition: all 0.25s;
  overflow: hidden;
}
.button-14:before,
.button-14:after,
.button-14 > span:before,
.button-14 > span:after {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  z-index: -1;
  transition: all 0.25s;
}
.button-14:before {
  top: 0;
  left: -25%;
  transition-delay: 0.1s;
}
.button-14:after {
  top: -100%;
  left: 25%;
  transition-delay: 0.2s;
}
.button-14:hover:before {
  top: 0;
  left: 0;
}
.button-14:hover:after {
  top: 0;
  left: 25%;
}
.button-14:hover {
  color: hsl(0, 0%, 100%);
}
.button-14 span:before {
  top: 100%;
  right: 25%;
  transition-delay: 0.3s;
}
.button-14 span:after {
  top: 0;
  right: -25%;
  transition-delay: 0.4s;
}
.button-14:hover span:before {
  top: 0;
  right: 25%;
}
.button-14:hover span:after {
  top: 0;
  right: 0;
}

.button-15 {
  color: hsl(0, 0%, 15%);
  transition: all 0.25s;
  border: none;
}
.button-15:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 140%;
  border-left: 2px solid hsl(0, 0%, 15%);
  border-right: 2px solid hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-15:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 120%;
  top: 0;
  left: -15px;
  border-top: 2px solid hsl(0, 0%, 15%);
  border-bottom: 2px solid hsl(0, 0%, 15%);
  transition: all 0.25s;
  transition-delay: 0.25s;
}
.button-15:hover:before {
  transform: rotateY(180deg);
}
.button-15:hover:after {
  transform: rotateX(180deg);
}

.button-16 {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 100%);
  transition: all 0.25s;
  border: none;
}
.button-16:before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid hsl(0, 0%, 15%);
  border-left: 2px solid hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-16:hover:before,
.button-16:hover:after {
  width: 100%;
  height: 100%;
}
.button-16:after {
  position: absolute;
  bottom: -5px;
  right: -5px;
  content: '';
  width: 24px;
  height: 24px;
  border-bottom: 2px solid hsl(0, 0%, 15%);
  border-right: 2px solid hsl(0, 0%, 15%);
  transition: all 0.25s;
}

.button-17 {
  color: hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-17:hover {
  color: hsl(0, 0%, 100%);
}
.button-17:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: hsl(0, 0%, 15%);
  opacity: 0;
  transition: all 0.4s;
}
.button-17:hover:before {
  opacity: 1;
  transform: rotate(15deg);
}
.button-17:hover > span:before {
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  transform: translate(-45%, -27%) rotate(360deg);
}
.button-17 > span {
  position: relative;
  color: transparent;
}
.button-17 > span:before {
  content: 'B';
  color: hsl(0, 0%, 15%);
  position: absolute;
  transition: all 0.2s;
}

.button-18 {
  color: hsl(0, 0%, 15%);
  transition: all 0.25s;
  border: none;
  overflow: hidden;
}
.button-18:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-18:hover:before {
  left: 0;
}
.button-18:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background-color: hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-18:hover:after {
  right: 0;
}
.button-18 > span:before {
  content: '';
  position: absolute;
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-18:hover > span:before {
  top: 0;
}
.button-18 > span:after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-18:hover > span:after {
  bottom: 0;
}

.button-19 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  transition: all 0.5s;
}
.button-19:hover {
  color: hsl(0, 0%, 100%);
}
.button-19 > span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(199, 100%, 50%);
  left: 0;
  top: calc(100% + 22px);
  transition: all 0.5s;
  z-index: -1;
}
.button-19 > span:before {
  content: '';
  width: 100%;
  height: 22px;
  top: -22px;
  left: 0;
  position: absolute;
  background: url('@/assets/wave.png');
  animation: wave 0.5s linear infinite;
}
.button-19:hover > span {
  top: 0;
}

.button-20 {
  color: hsl(0, 0%, 15%);
  overflow: hidden;
  transition: all 0.25s;
  border: none;
}
.button-20 > span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 3px solid hsl(0, 0%, 15%);
  z-index: -1;
}
.button-20 > span:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 500%;
  background-color: var(--color-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-70deg);
  transition: all 0.25s;
}
.button-20:hover > span:before {
  width: 100%;
  background-color: hsl(0, 0%, 15%);
  transform: translate(-50%, -50%) rotate(60deg);
}
.button-20:hover {
  color: hsl(0, 0%, 100%);
}

.button-21 {
  color: hsl(0, 0%, 100%);
  transition: all 0.25s;
  border: none;
}
.button-21:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -1px;
  width: 50%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  z-index: -1;
  transform: skew(30deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.button-21:hover:before {
  transform: skewX(0deg);
  left: 50%;
  top: 0;
}
.button-21:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 51%;
  width: 50%;
  height: 100%;
  background-color: hsl(0, 0%, 30%);
  z-index: -1;
  transform: skew(30deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.button-21:hover:after {
  transform: skewX(0deg);
  left: 1px;
  top: 0;
}

.button-22 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 15%);
  transition: all 0.25s;
  border-radius: 100px;
}
.button-22:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 30%);
  z-index: -1;
  transition: all 0.25s;
  border-radius: 100px;
}
.button-22:hover:before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.button-22:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.button-22:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-23 {
  color: hsl(0, 0%, 15%);
  transition: all 0.25s;
  overflow: hidden;
}
.button-23:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 35px solid hsl(0, 0%, 15%);
  border-bottom: 35px solid hsl(0, 0%, 15%);
  border-right: 35px solid transparent;
  transition: all 0.25s;
  z-index: -1;
  transform: translateX(-100%);
}
.button-23:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 35px solid hsl(0, 0%, 15%);
  border-bottom: 35px solid hsl(0, 0%, 15%);
  border-left: 35px solid transparent;
  transition: all 0.25s;
  z-index: -1;
  transform: translateX(100%);
}
.button-23:hover {
  color: hsl(0, 0%, 100%);
}
.button-23:hover:before,
.button-23:hover:after {
  transform: translateX(0);
}

.button-24 {
  color: hsl(0, 0%, 15%);
  transition: all 0.25s;
}
.button-24:hover {
  color: hsl(0, 0%, 100%);
  border: 3px solid transparent;
}
.button-24 span {
  position: absolute;
  background-color: hsl(0, 0%, 15%);
  height: 100%;
  box-shadow:
    0 0 10px hsl(0, 0%, 15%),
    0 0 20px hsl(0, 0%, 15%),
    0 0 30px hsl(0, 0%, 15%),
    0 0 40px hsl(0, 0%, 15%),
    0 0 50px hsl(0, 0%, 15%),
    0 0 100px hsl(0, 0%, 15%);
}

.button-24 span:nth-child(1),
.button-24 span:nth-child(3) {
  width: 40px;
  height: 4px;
}
.button-24 span:nth-child(2),
.button-24 span:nth-child(4) {
  width: 4px;
  height: 40px;
}
.button-24 span:nth-child(1) {
  top: calc(50% - 3px);
  left: -50px;
  transition: 0.25s ease-in-out;
  tansform-origin: left;
  transition-delay: 0.25s;
}
.button-24:hover span:nth-child(1) {
  left: calc(50% - 3px);
  transform: scaleX(0);
  transition-delay: 0;
}
.button-24 span:nth-child(2) {
  top: -75%;
  left: 50%;
  transition: 0.25s ease-in-out;
  tansform-origin: top;
  transition-delay: 0.25s;
}
.button-24:hover span:nth-child(2) {
  top: 0;
  transform: scaleY(0);
  transition-delay: 0;
}
.button-24 span:nth-child(3) {
  top: calc(50% - 3px);
  right: -50px;
  transition: 0.25s ease-in-out;
  tansform-origin: right;
  transition-delay: 0.25s;
}
.button-24:hover span:nth-child(3) {
  right: 50%;
  transform: scaleX(0);
  transition-delay: 0;
}
.button-24 span:nth-child(4) {
  bottom: -75%;
  left: 50%;
  transition: 0.25s ease-in-out;
  tansform-origin: bottom;
  transition-delay: 0.25s;
}
.button-24:hover span:nth-child(4) {
  bottom: 0;
  transform: scaleY(0);
  transition-delay: 0;
}
.button-24:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 15%);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: 0.25s;
  z-index: -1;
}
.button-24:hover:before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow:
    0 0 10px hsl(0, 0%, 15%),
    0 0 30px hsl(0, 0%, 15%),
    0 0 60px hsl(0, 0%, 15%);
}
.button-25 {
  color: hsl(0, 0%, 100%);
  transition: all 0.25s;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(250, 52, 52, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-left: none;
  z-index: 10;
  border-radius: 30px;
  over-flow: hidden;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(15px);
}
.button-25:hover {
  letter-spacing: 3px;
}
.button-25:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), transparent);
  transform: skewX(45deg);
  transition: 0.1s;
  transition-delay: 0.25s;
}
.button-25:hover:before {
  transform: skewX(45deg) translateX(170%);
  transition-delay: 0;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

.button-26 {
  color: hsl(0, 0%, 15%);
  border: 3px solid black;
  /* padding: 40px 80px; */
  transition: all 0.25s;
}
.button-26:hover {
  border: 3px solid #f44336;
  color: #f22336;
  animation: shake 0.3s linear 1;
}
@keyframes shake {
  33% {
    tranform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.button-27 {
  overflow: hidden;
}
.button-27:before {
  content: '';
  background-color: #f44336;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: skew(-15deg);
  animation: moving 4s linear infinite;
  transition: all 0.5s;
}
.button-27:hover:before {
  width: 100%;
  transform: skew(0deg);
  animation: none;
  transition: all 0.25s;
}
@keyframes moving {
  from {
    left: -40px;
  }
  to {
    left: 100%;
  }
}
