@import './base.css';
@import './button.css';
@import './card.css';
@import './image.css';
@import './typograph.css';
@import './menu.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  padding: 0 1rem;
  width: 100%;
  max-width: 860px;
}
/*______________-elements-______________*/
img {
  width: 100%;
  display: block;
}

section {
  display: flex;
  flex-flow: column wrap;
  gap: 5rem;
}

ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 840px;
}
ul li {
  font-size: 1.3rem;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 15%);
  display: block;
  padding: 5px 10px;
  position: relative;
  transition: all 0.25s;
  text-transform: uppercase;
}
button {
  background: none;
  border: 3px solid hsl(0, 0%, 15%);
  cursor: pointer;
  flex-basis: calc(1 / 6 * 100%);
  font-family: sans-serif;
  font-size: 1.75rem;
  padding: 1.1rem 1.3rem;
  position: relative;
}

/*______________-classes-______________*/
.background-color {
  flex-basis: calc(1 / 6 * 100%);
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 15%);
}
.button-container {
  position: relative;
  width: 100%;
  max-width: 270px;
}
.button-container::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  bottom: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.25s;
  transition-delay: 0s;
}
.button-container:hover::before {
  bottom: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.25s;
}
.button-container::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  top: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.25s;
  transition-delay: 0s;
}
.button-container:hover::after {
  top: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.25s;
}
.button-container::after,
.button-container::before {
  background-color: red;
  box-shadow:
    0 0 5px red,
    0 0 15px red,
    0 0 30px red,
    0 0 60px red;
}
