h1 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  text-align: center;
  text-weight: 700;
  line-height: 1.1;
}
p {
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
}
